<!-- Footer -->
<footer id="footer" >
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center"  itemscope itemtype="http://schema.org/LocalBusiness">
                <h4 itemprop="name"><strong>@@companyName</strong></h4>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <p>
                        <span itemprop="streetAddress">@@streetAddress,</span>
                        <span itemprop="addressLocality">@@addressLocality</span>,
                        <span itemprop="addressRegion" >@@addressRegion</span>
                        <span itemprop="postalCode">@@postalCode</span>
                    </p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> <a href="tel:@@tel">Telephone: <span itemprop="telephone">@@tel</span></a></li>
                        <li><i class="fa fa-mobile fa-fw"></i> <a href="tel:@@mob">Mobile: <span itemprop="telephone">@@mob</span></a></li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:@@email"><span itemprop="email">@@email</span></a></li>
                    </ul>
                    <br>
                </div>
                <hr class="small">
                <p class="text-muted">Copyright &copy; @@companyName <span id="copyRightYear"></span></p>
            </div>
        </div>
    </div>
</footer>