<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a class="menu-item" href="#top" >Menu</a>
        </li>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a class="menu-item" href="#portfolio" >Our Work</a>
        </li>
        <li>
            <a class="menu-item" href="#contact" >Contact</a>
        </li>
    </ul>
</nav>