<!-- About -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 ">
                <!-- Callout -->
                <aside class="callout">
                    <div class="text-vertical-center">
                        <h2>About us</h2>
                        <p>P.E Sound and Light are a South Wales based company who work all over the Uk and Europe.Established in 2005 we have been expanding ever since and getting a larger and larger client base every day. We specialise in installation, service and hire in all of the above areas and will do our upmost to make sure the client is happy at all times.</p>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
