<!-- Portfolio -->
<section id="portfolio" class="portfolio bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Work</h2>
                <hr class="small hr-alt">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="portfolio-item">
                            <h3>Bacon ipsum amet hock.</h3>
                            <img class="img-portfolio img-responsive" src="/assets/img/portfolio-1.jpg">
                            <p>Bacon ipsum dolor amet flank short loin tail meatloaf ham hock cow tri-tip pork chop. Alcatra corned beef beef picanha pork chop fatback. Brisket cow meatloaf pork belly ham hock.</p>
                            <hr class="hr-alt small visible-xs-block" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <h3>Bacon ipsum dolor amet.</h3>
                            <img class="img-portfolio img-responsive" src="/assets/img/portfolio-2.jpg">
                            <p>Bacon ipsum dolor amet flank short loin tail meatloaf ham hock cow tri-tip pork chop. Alcatra corned beef beef picanha pork chop fatback. Brisket cow meatloaf pork belly ham hock.</p>
                            <hr class="hr-alt small visible-xs-block" />                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <h3>Bacon ipsum amet hock.</h3>
                            <img class="img-portfolio img-responsive" src="/assets/img/portfolio-3.jpg">
                            <p>Bacon ipsum dolor amet flank short loin tail meatloaf ham hock cow tri-tip pork chop. Alcatra corned beef beef picanha pork chop fatback. Brisket cow meatloaf pork belly ham hock.</p>
                            <hr class="hr-alt small visible-xs-block" />                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <h3>Bacon ipsum amet hock.</h3>
                            <img class="img-portfolio img-responsive" src="/assets/img/portfolio-4.jpg">
                            <p>Bacon ipsum dolor amet flank short loin tail meatloaf ham hock cow tri-tip pork chop. Alcatra corned beef beef picanha pork chop fatback. Brisket cow meatloaf pork belly ham hock.</p>
                            <hr class="hr-alt small visible-xs-block" />                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <h3>Bacon ipsum amet hock.</h3>
                            <img class="img-portfolio img-responsive" src="/assets/img/portfolio-1.jpg">
                            <p>Bacon ipsum dolor amet flank short loin tail meatloaf ham hock cow tri-tip pork chop. Alcatra corned beef beef picanha pork chop fatback. Brisket cow meatloaf pork belly ham hock.</p>
                            <hr class="hr-alt small visible-xs-block" />                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <h3>Bacon ipsum amet hock.</h3>
                            <img class="img-portfolio img-responsive" src="/assets/img/portfolio-2.jpg">
                            <p>Bacon ipsum dolor amet flank short loin tail meatloaf ham hock cow tri-tip pork chop. Alcatra corned beef beef picanha pork chop fatback. Brisket cow meatloaf pork belly ham hock.</p>
                            <hr class="hr-alt small visible-xs-block" />                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <h3>Bacon ipsum amet hock.</h3>
                            <img class="img-portfolio img-responsive" src="/assets/img/portfolio-4.jpg">
                            <p>Bacon ipsum dolor amet flank short loin tail meatloaf ham hock cow tri-tip pork chop. Alcatra corned beef beef picanha pork chop fatback. Brisket cow meatloaf pork belly ham hock.</p>
                            <hr class="hr-alt small visible-xs-block" />                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <h3>Bacon ipsum amet hock.</h3>
                            <img class="img-portfolio img-responsive" src="/assets/img/portfolio-1.jpg">
                            <p>Bacon ipsum dolor amet flank short loin tail meatloaf ham hock cow tri-tip pork chop. Alcatra corned beef beef picanha pork chop fatback. Brisket cow meatloaf pork belly ham hock.</p>
                            <hr class="hr-alt small visible-xs-block" />                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="portfolio-item">
                            <h3>Bacon ipsum amet hock.</h3>
                            <img class="img-portfolio img-responsive" src="/assets/img/portfolio-2.jpg">
                            <p>Bacon ipsum dolor amet flank short loin tail meatloaf ham hock cow tri-tip pork chop. Alcatra corned beef beef picanha pork chop fatback. Brisket cow meatloaf pork belly ham hock.</p>
                            <hr class="hr-alt small visible-xs-block" />                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>