<!-- Services -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Our Services</h2>
                <hr class="small">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 text-center">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-gears fa-stack-1x text-primary"></i>
                </span>
                <h2>Install</h2>
                <p class="lead">No Job is to big or small for us, from a projector being installed in a school classroom to a full Professional sound and lighting system into a nightclub, both of which will be installed to the clients request and will be finished to the highest possible standard.</p>
            </div>
            <div class="col-xs-12 visible-xs-block visible-sm-block">
                <hr class="small" />
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shield fa-stack-1x text-primary"></i>
                </span>
                <h2>Service</h2>
                <p class="lead">This is always a option offered to all clients once an install is finished. For a peace of mind guarantee it can range from telephone support to an emergency callout on a nightly basis. An example of a typical service contract offered is a weekly/fortnightly visit to the clients venue, we then clean and maintain any sound, light or audio visual item that requires technical attention this way it prolongs the life span of the item and costs the client less in the future.</p>
            </div>
            <div class="col-xs-12 visible-xs-block visible-sm-block">
                <hr class="small" />
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-ticket fa-stack-1x text-primary"></i>
                </span>
                <h2>Hire</h2>
                <p class="lead">We offer a wide range of hire products that will cater for most of out clients needs from spare Projectors to amplifiers all this equipment is also available for private hire for Party’s or functions</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
