<!-- Portfolio -->
<section id="portfolio" class="portfolio bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Our Work</h2>
                <hr class="small hr-alt">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="portfolio-item portfolio-item-info">
                            <img class="img-portfolio img-responsive" src="/assets/img/portfolio-1.jpg">
                            <a href="#show" class="portfolio-item-button"><i class="fa fa-angle-up"></i></a>                            
                            <div class="portfolio-item-content">
                                <h3>Bacon ipsum amet hock.</h3>
                                <p>Bacon ipsum dolor amet flank short loin tail meatloaf ham hock cow tri-tip pork chop. Alcatra corned beef beef picanha pork chop fatback. Brisket cow meatloaf pork belly ham hock.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="portfolio-item portfolio-item-info">
                            <img class="img-portfolio img-responsive" src="/assets/img/portfolio-2.jpg">
                            <a href="#show" class="portfolio-item-button"><i class="fa fa-angle-up"></i></a>
                            <div class="portfolio-item-content">
                                <h3>Bacon ipsum amet hock.</h3>
                                <p>Bacon ipsum dolor amet flank short loin tail meatloaf ham hock cow tri-tip pork chop. Alcatra corned beef beef picanha pork chop fatback. Brisket cow meatloaf pork belly ham hock.</p>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="portfolio-item portfolio-item-info">
                            <img class="img-portfolio img-responsive" src="/assets/img/portfolio-3.jpg">
                            <a href="#show" class="portfolio-item-button"><i class="fa fa-angle-up"></i></a>
                            <div class="portfolio-item-content">
                                <h3>Bacon ipsum amet hock.</h3>
                                <p>Bacon ipsum dolor amet flank short loin tail meatloaf ham hock cow tri-tip pork chop. Alcatra corned beef beef picanha pork chop fatback. Brisket cow meatloaf pork belly ham hock.</p>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="portfolio-item portfolio-item-info">
                            <img class="img-portfolio img-responsive" src="/assets/img/portfolio-4.jpg">
                            <a href="#show" class="portfolio-item-button"><i class="fa fa-angle-up"></i></a>
                            <div class="portfolio-item-content">
                                <h3>Bacon ipsum amet hock.</h3>
                                <p>Bacon ipsum dolor amet flank short loin tail meatloaf ham hock cow tri-tip pork chop. Alcatra corned beef beef picanha pork chop fatback. Brisket cow meatloaf pork belly ham hock.</p>
                            </div>                            
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="/our-work.html" class="btn btn-dark">View More Items</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>