<!-- Header -->
<header id="top" class="work-header header">
    <div class="text-vertical-center">
    	<div class="container">
			<div class="row">
                <div class="col-xs-12 col-lrg-4">
                    <img class="mw--30" src="@@logoSmall"/>
                </div>
		    	<div class="col-xs-12">
                    <h1>@@companyName</h1>
                    <br>
                    <a href="#portfolio" class="btn btn-dark btn-lg">View more</a>
                </div>
            </div>
        </div>
    </div>
</header>